<div class="container">
    <h2> All Products </h2>
    <div class="add-prod-button">
        <button [routerLink] ="['/add-product']" > Add product </button>
        <!-- <a [routerLink] ="['add-product']" > Add product </a> -->
    </div>
    <br>
    <div *ngIf="isDeleted">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Id </th>
                <th> Title </th>
                <th> Category </th>
                <th> Quantity </th>
                <th> Edit </th>
                <th> Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td> {{product.id}} </td>
                <td (click)="getDetails(product)"> {{product.title}} </td>
                <td> {{product.category}} </td>
                <td> {{product.quantity}} </td>
                <td> <button (click)="onEdit(product)" > Edit </button> </td>
                <td> <button (click)="onDelete(product)" > Delete </button> </td>
            </tr>
        </tbody>
    </table>
</div>